{{#if books}}
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Date Read</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
      <tr>
        <td>{{rating}}</td>
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{date}}</td>
        <td><button type="button" class="btn btn-link"><a href="/books/edit/{{id}}">Edit</a></button></td>
        <td><form method="post" action="/books/{{id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" class="btn btn-link" value="Delete">
        </form></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div class="card card-body mb-2">
    <p>You don't have any book reviews yet!</p>
  </div>
  {{/if}}

  <p class="text-center"><a href="/books/add">Add a review.</a></p>
