<div class="card card-body mb-2">
  <h3>{{title}} {{#if releaseYear}}({{releaseYear}}){{/if}}</h3> <a href="/movies/edit/{{id}}">Edit</a>
  <p>Date Watched: {{date}}</p>
  <p>Rating: {{rating}} </p>
  <p>{{review}}</p>
  <form method="post" action="/movies/{{id}}?_method=DELETE">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-link" value="Delete">
  </form>
</div>
