<div class="card card-body">
  <h3>{{movie.title}} {{#if movie.releaseYear}}({{movie.releaseYear}}){{/if}}</h3>
  <p>Date Watched: {{movie.date}}</p>
  <p>Rating: {{movie.rating}} </p>
  <p>{{movie.review}}</p>
</div>

<button type="button" class="btn btn-link"><a href="/movies/edit/{{movie.id}}">Edit</a></button>
<form method="post" action="/movies/{{movie.id}}?_method=DELETE">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-link" value="Delete">
</form>
