  <div class="card card-body mb-2">
    <h3>{{headliner}}</h3> <a href="/concerts/edit/{{id}}">Edit</a>
    {{#if support}}<p>w/ {{support}}</p>{{/if}}
    <p>{{venue}} {{date}}</p>
    <p>Rating: {{rating}} </p>
    <p>{{review}}</p>
    <form method="post" action="/concerts/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-link" value="Delete">
    </form>
  </div>
