<div class="card card-body">
    <h3>{{concert.headliner}}</h3>
    {{#if concert.support}}<p>w/ {{concert.support}}</p>{{/if}}
    <p>{{concert.venue}} {{concert.date}}</p>
    <p>Rating: {{concert.rating}} </p>
    <p>{{concert.review}}</p>

</div>

<button type="button" class="btn btn-link"><a href="/concerts/edit/{{concert.id}}">Edit</a></button>
<form method="post" action="/concerts/{{concert.id}}?_method=DELETE">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-link" value="Delete">
</form>
