{{#if plays}}
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Rating</th>
        <th scope="col">Title</th>
        <th scope="col">Venue</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each plays}}
      <tr>
        <td>{{rating}}</td>
        <td><a href="/plays/play/{{id}}">{{title}}</a></td>
        <td>{{venue}}</td>
        <td>{{date}}</td>
        <td><form method="post" action="/plays/{{id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" class="btn btn-link" value="Delete">
        </form></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <div class="card card-body mb-2">
    <p>You haven't posted about any plays or musicals yet!</p>
  </div>
{{/if}}

<p class="text-center"><a href="/plays/add">Add a post.</a></p>
