<div class="card card-body">
  <h3>{{play.title}}</h3>
  <p>{{play.venue}}</p>
  <p>{{play.date}}</p>
  <p>Rating: {{play.rating}} </p>
  <p>{{play.review}}</p>
</div>

<button type="button" class="btn btn-link"><a href="/plays/edit/{{play.id}}">Edit</a></button>
<form method="post" action="/plays/{{play.id}}?_method=DELETE">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" class="btn btn-link" value="Delete">
</form>
